// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 0 40px;
  background-color: rgb(207, 218, 219)
}

.container-box {
  border: 1px solid rgb(200, 200, 200);
  padding: 10px 30px
}
